<h2 id="title">Hours Synthesizer</h2>

{{sheets-synthesizer sheetsData=sheetsData}}

{{outlet}}

<table class="table table-hover table-condensed">
  <thead>
    <tr>
      <th rowspan="2">Nome do Motorista</th>
      <th rowspan="2">Arquivo</th>
      <th rowspan="2">Versão</th>
      <th colspan="2">Data</th>
      <th colspan="3">Horas</th>
    </tr>
    <tr>
      <th>Inicial</th>
      <th>Final</th>
      <th>Adc. Noturno</th>
      <th>Espera</th>
      <th>Extra</th>
    </tr>
  </thead>
  <tbody>
    {{#each sheetsData as |sheet|}}
      <tr>
        <td>{{sheet.driverName}}</td>
        <td>{{sheet.fileName}}</td>
        <td>{{sheet.version}}</td>
        <td>{{moment-format sheet.startDate 'DD/MM/YYYY' 'M/D/YYYY'}}</td>
        <td>{{moment-format sheet.finalDate 'DD/MM/YYYY' 'M/D/YYYY'}}</td>
        <td>{{formatHours sheet.hoursAdc}}</td>
        <td>{{formatHours sheet.hoursEsp}}</td>
        <td>{{formatHours sheet.hoursExt}}</td>
      </tr>
    {{/each}}
  </tbody>
</table>
